html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ol,
ul,
li,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a,
*,
button,
span,
p,
i,
input,
select,
textarea,
img,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.3s ease;
}

button,
input,
select {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  &:focus {
    outline: none;
  }
}

button,
input,
select {
  font-family: "TT Commons Regular";
}

header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font: 16px/1.6 "TT Commons Regular", Arial, sans-serif;
  &.o-hidden {
    overflow: hidden;
    .header-bottom {
      background-color: #fff;
    }
  }
}

.wrapper {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  @include Flexible($j-cont: space-between, $a-items: center);
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  @media (min-width: 992px) {
    padding: 0 20px;
  }
}
.row {
  .col {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  @media (min-width: 992px) {
    @include Flexible();
    margin: 0 -15px;
    .col {
      width: 50%;
      padding: 0 15px;
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
.curved-btn{
  @extend %curved-btn;
}
.yelo-btn {
  @extend %yelo-btn;
}
.more-details {
  @extend %more-details;
}
.arr-btn {
  @extend %arr-btn;
}
.news-link {
  @extend %news-link;
}
.d-none {
  display: none;
}
.b-red {
  background-color: red;
  margin-top: 50px;
}
.alert{
  box-shadow: inset 0 0 0 1px #f00;
}
.s_title {
  margin-top: 135px;
  .page_title {
    margin: 0 auto 20px;
    text-align: center;
    max-width: 1100px;
    h1 {
      font-size: 20px;
      font-family: "TTFirsNeue Medium";
    }
    p {
      color: $black_50;
      max-width: 840px;
      margin: 0 auto;
      padding: 0 0 20px;
      text-align: center;
      line-height: 20px;
    }
  }
  @media (min-width: 992px) {
    margin-top: 150px;
    .page_title {
      margin: 0 auto 50px auto;
      h1 {
        font-size: 54px;
      }
      p {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}
