$primary_color:#FFC628;
$green_color:#81BD5B;
$blue_color: #0071c7;
$red_color:#d82a34;
$link_color:#0091FE;
$black_50:#00000080;
$black_75:#000000bf;
$black_60:#00000099;
$socials_bg_color:#F3F1F7;
