.entrance {
  height: auto;
  margin: 110px 0 30px;
  padding: 0 15px;
  width: 100%;
  overflow: hidden;
  position: relative;
  @media (min-width: 992px) {
    margin: 0 0 50px 0;
    padding: 0;
  }
  .swiper {
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    position: relative;
    @media (min-width: 992px) {
      height: 505px;
      border-radius: 0;
    }
    .swiper-slide {
      background-color: $primary_color;
      .slide-img {
        position: relative;
        height: 190px;
        .image {
          height: 100%;
        }
        @media (min-width: 992px) {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          .yellow-bg {
            width: 55%;
            height: 100%;
            background: #ffc628;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            &::after {
              content: "";
              display: block;
              width: 50%;
              height: 100%;
              background: #ffc628;
              position: absolute;
              top: 0px;
              right: -10.3%;
              transform: skew(-12.7deg, 0);
            }
          }
          .image {
            margin-left: auto;
            width: 55%;
          }
        }
      }
      .slide-content {
        padding: 20px 30px;
        .content-inner {
          h3 {
            font-size: 20px;
            line-height: normal;
            font-family: "TTFirsNeue Medium";
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0.2px;
          }
          a {
            .curved-btn {
              @extend %curved-btn;
            }
            .more-details {
              @extend %more-details;
            }
          }
        }
        @media (min-width: 992px) {
          max-width: 1100px;
          padding: 0 20px;
          margin: 0 auto;
          height: 100%;
          position: relative;
          z-index: 2;
          @include Flexible($a-items: center);
          .content-inner {
            h3 {
              font-size: 40px;
              line-height: 55px;
            }
            p {
              line-height: 26px;
              font-size: 19px;
            }
            a {
              position: absolute;
              bottom: 60px;
            }
          }
        }
      }
    }
    .swiper-pagination {
      top: 160px;
      height: 26px;
      @media (min-width: 992px) {
        width: 40%;
        top: auto;
        left: auto;
        position: absolute;
        right: 0;
        bottom: 20px;
        text-align: center;
      }
      span {
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #000;
        border-radius: 50%;
        margin: 0 10px;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          box-shadow: 0 0 0 4px #ffc628;
        }
      }
    }
  }
}
.stroies-section {
  .title {
    font-family: "TT Commons Bold";
    b {
      padding: 7px 0;
      font-size: 20px;
      line-height: normal;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      display: none;
    }
    @media (min-width: 992px) {
      b {
        font-size: 25px;
      }
      span {
        width: 32px;
        height: 32px;
        background: #ffc628;
        color: white;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 18px;
        line-height: 36px;
        margin: 0 0 0 8px;
        vertical-align: baseline;
      }
    }
  }
  .stories {
    &.container {
      padding: 0;
    }
    .swiper-wrapper {
      .swiper-slide {
        margin-left: 15px;
        width: 305px !important;
        height: 140px;
        border-radius: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        @media (min-width:992px) {
            width: 346.5px !important;
            margin-left: 20px;
            &:not(:last-child){
                margin-right: 10px;
            }
        }
        &:first-child {
          background-color: $green_color;
          span {
            color: $green_color;
          }
        }
        &:nth-child(2) {
          background-color: $blue_color;
          span {
            color: $blue_color;
          }
        }
        &:last-child {
          background-color: $red_color;
          span {
            color: $red_color;
          }
        }
        a {
          .story-desc {
            max-width: 140px;
            position: absolute;
            bottom: 25px;
            left: 25px;
            span {
              background: white;
              font-size: 13px;
              font-family: "TT Commons Bold";
              height: 24px;
              line-height: 22px;
              border-radius: 20px;
              display: inline-block;
              padding: 3px 12px;
              box-sizing: border-box;
              margin: 0 0 5px 0;
            }
            b {
              width: 100%;
              font-family: "TT Commons Medium";
              font-size: 18px;
              color: #ffffff;
              letter-spacing: 0.19px;
              line-height: 22px;
              display: -webkit-box;
              height: 66px;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: normal;
            }
            @media (min-width:992px) {
                max-width: 180px;
            }
          }
          .story-image {
            margin-left: auto;
            width: 140px;
            height: 140px;
          }
        }
      }
    }
  }
}
