section {
  margin-bottom: 30px;
  @media (min-width: 992px) {
    margin-bottom: 50px;
  }
}
.entrance {
  height: auto;
  margin-top: 110px;
  padding: 0 15px;
  width: 100%;
  overflow: hidden;
  position: relative;
  @media (min-width: 992px) {
    margin-top: 0;
    padding: 0;
  }
  .swiper {
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    position: relative;
    @media (min-width: 992px) {
      height: 505px;
      border-radius: 0;
    }
    .swiper-slide {
      background-color: $primary_color;
      .slide-img {
        position: relative;
        height: 190px;
        .image {
          height: 100%;
        }
        @media (min-width: 992px) {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          .yellow-bg {
            width: 55%;
            height: 100%;
            background: #ffc628;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            &::after {
              content: "";
              display: block;
              width: 50%;
              height: 100%;
              background: #ffc628;
              position: absolute;
              top: 0px;
              right: -10.3%;
              transform: skew(-12.7deg, 0);
            }
          }
          .image {
            margin-left: auto;
            width: 55%;
          }
        }
      }
      .slide-content {
        padding: 20px 30px;
        .content-inner {
          h3 {
            font-size: 20px;
            line-height: normal;
            font-family: "TTFirsNeue Medium";
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0.2px;
          }
          a {
            .curved-btn {
              @extend %curved-btn;
            }
          }
        }
        @media (min-width: 992px) {
          max-width: 1140px;
          padding: 0 20px;
          margin: 0 auto;
          height: 100%;
          position: relative;
          z-index: 2;
          @include Flexible($a-items: center);
          .content-inner {
            h3 {
              font-size: 40px;
              line-height: 55px;
            }
            p {
              line-height: 26px;
              font-size: 19px;
            }
            a {
              position: absolute;
              bottom: 60px;
            }
          }
        }
      }
    }
    .swiper-pagination {
      top: 160px;
      height: 26px;
      @media (min-width: 992px) {
        width: 40%;
        top: auto;
        left: auto;
        position: absolute;
        right: 0;
        bottom: 20px;
        text-align: center;
      }
      span {
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #000;
        border-radius: 50%;
        margin: 0 10px;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          box-shadow: 0 0 0 4px #ffc628;
        }
      }
    }
  }
}

.stroies-section {
  .title {
    font-family: "TT Commons Bold";
    @include Flexible($a-items: center);
    margin-bottom: 5px;
    b {
      padding: 7px 0;
      font-size: 20px;
      line-height: normal;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      display: none;
    }
    @media (min-width: 992px) {
      b {
        font-size: 25px;
      }
      span {
        width: 32px;
        height: 32px;
        background: #ffc628;
        color: white;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 18px;
        line-height: 36px;
        margin-left: 8px;
        vertical-align: baseline;
      }
    }
  }
  .stories {
    &.container {
      padding: 0;
    }
    .swiper-wrapper {
      .swiper-slide {
        margin-left: 15px;
        width: 305px !important;
        height: 140px;
        border-radius: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        @media (min-width: 992px) {
          width: 346.5px !important;
          margin-left: 20px;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
        &:first-child {
          background-color: $green_color;
          span {
            color: $green_color;
          }
        }
        &:nth-child(2) {
          background-color: $blue_color;
          span {
            color: $blue_color;
          }
        }
        &:last-child {
          background-color: $red_color;
          span {
            color: $red_color;
          }
        }
        a {
          display: block;
          .story-desc {
            max-width: 140px;
            position: absolute;
            bottom: 25px;
            left: 25px;
            span {
              background: white;
              font-size: 13px;
              font-family: "TT Commons Bold";
              height: 24px;
              line-height: 22px;
              border-radius: 20px;
              display: inline-block;
              padding: 3px 12px;
              box-sizing: border-box;
              margin: 0 0 5px 0;
            }
            b {
              width: 100%;
              font-family: "TT Commons Medium";
              font-size: 18px;
              color: #ffffff;
              letter-spacing: 0.19px;
              line-height: 22px;
              display: -webkit-box;
              height: 66px;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: normal;
            }
            @media (min-width: 992px) {
              max-width: 180px;
            }
          }
          .story-image {
            margin-left: auto;
            width: 140px;
            height: 140px;
          }
        }
      }
    }
  }
}

.loan-calculator {
  .col {
    b {
      font-family: "TT Commons Bold";
      font-size: 20px;
      font-weight: normal;
      display: block;
    }
    .yelo-btn {
      width: 100%;
      font-size: 16px;
      height: auto;
      line-height: 25.6px;
    }
    .card {
      border-radius: 10px;
      border: 1px solid #ececec;
      height: 100%;
      overflow: hidden;
      background: $socials_bg_color;
      perspective: 2000px;
      position: relative;
      .card-img {
        right: 40px;
        box-shadow: 50px 60px 80px rgba(0, 0, 0, 0.2);
        transition: all 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
        position: absolute;
        top: 20px;
        border-radius: 10px;
        transform: matrix3d(
          0.858606,
          0.298387,
          0,
          -0.000414946,
          -0.651602,
          0.939378,
          0,
          -4.94499e-5,
          0,
          0,
          1,
          0,
          216,
          -3,
          0,
          1
        );
        transform-origin: center;
        width: 130px;
        height: 210px;
        left: -47%;
        overflow: hidden;
      }
      .card-desc {
        padding: 240px 20px 20px;
        p {
          line-height: 20px;
          color: $black_50;
        }
        .group {
          @include Flexible($j-cont: space-between);
          margin: 10px 0;
          .g-item {
            width: 50%;
            p {
              font-size: 15px;
            }
            b {
              font-size: 22px;
              font-family: "TT Commons Medium";
            }
          }
        }
      }
    }
    .loan-calc {
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #ececec;
      height: 100%;
      overflow: hidden;
      .loan-title {
        @include Flexible($j-cont: space-between);
        .arr-btn {
          display: none;
        }
      }
      .loan-desc {
        padding-top: 10px;
        .loan-inputs {
          border-radius: 10px;
          border: 1px solid #e7e7e7;
          .loan-item {
            padding: 10px 10px;
            position: relative;
            p {
              color: $black_50;
              font-size: 15px;
              line-height: 15px;
              margin-bottom: 4px;
            }
            .range-result {
              font-size: 26px;
              line-height: 26px;
              width: 100%;
              font-family: "TT Commons Medium";
            }
            .loan-info {
              position: absolute;
              font-family: "TT Commons Bold";
              font-size: 15px;
              text-transform: uppercase;
              color: $black_50;
              right: 17px;
              bottom: 20px;
              line-height: 15px;
            }

            input[type="range"] {
              width: 100%;
              position: absolute;
              margin: 0;
              left: 0px;
              bottom: 0px;
              background-color: $black_10;
              --range: calc(var(--max) - var(--min));
              --ratio: calc((var(--val) - var(--min)) / var(--range));
              --sx: calc(0.5 * 1.5em + var(--ratio) * (100% - 1.5em));
              &::-moz-range-thumb {
                appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 100%;
                cursor: pointer;
                background: #ffffff;
                border: 3px solid #ffc628;
              }
              &::-webkit-slider-runnable-track {
                width: 100%;
                height: 4px;
                cursor: pointer;
                background: linear-gradient(#ffc628, #ffc628) 0 / var(--sx) 100%
                  no-repeat;
              }
              &::-webkit-slider-thumb {
                height: 24px;
                width: 24px;
                appearance: none;
                border-radius: 100%;
                background: #ffffff;
                cursor: pointer;
                background: #ffffff;
                border: 5px solid #ffc628;
                margin: -10px 0 0 0;
                box-sizing: border-box;
              }
              &::-moz-range-track {
                width: 100%;
                height: 3px;
                cursor: pointer;
              }
              &::-ms-track {
                width: 100%;
                height: 3px;
                cursor: pointer;
              }
              &::-ms-thumb {
                height: 20px;
                width: 20px;
                border-radius: 100%;
                appearance: none;
                background: #ffffff;
                cursor: pointer;
                background: #ffffff;
                border: 3px solid #ffc628;
              }
            }
            input[type="number"] {
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                appearance: none;
                margin: 0;
              }
            }
          }
        }
        .loan-result {
          margin-top: 20px;
          .loan-result-inner {
            @include Flexible($j-cont: center);
            margin-bottom: 5px;
            .loan-item {
              width: fit-content;
              text-align: center;
              p {
                color: $black_50;
                line-height: 16px;
              }
              b {
                font-size: 26px;
                font-family: "TT Commons Medium";
                span {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    .row {
      .col {
        b {
          font-size: 22px;
        }
        .yelo-btn {
          font-size: 18px;
          width: 200px;
          line-height: 29px;
          height: 55px;
        }
        .card {
          .card-img {
            width: 190px;
            height: 300px;
            transform: none;
            top: 30px;
            left: auto;
          }
          .card-desc {
            width: 50%;
            padding: 30px 0 30px 30px;
            height: 100%;
            p {
              font-size: 16px;
            }
            .group {
              margin: 18px 0 32px 0;
            }
          }
        }
        .loan-calc {
          padding: 30px;
          .loan-title {
            .arr-btn {
              display: inline-block;
            }
          }
          .loan-desc {
            padding-top: 30px;
            .loan-inputs {
              height: 70px;
              border-radius: 10px 10px 10px 0;
              @include Flexible($j-cont: space-between);
              .loan-item {
                &:not(:last-child) {
                  border-right: 1px solid #e7e7e7;
                }
                input[type="range"] {
                  background-color: transparent;
                }
              }
            }
            .loan-result {
              margin-top: 45px;
              height: 59.6px;
              @include Flexible($j-cont: space-between);
              .loan-result-inner {
                width: calc(100% - 50px);
              }
            }
          }
        }
        &:first-child {
          &:hover {
            .card {
              .card-img {
                transform: translateY(-10px);
              }
            }
          }
        }
      }
    }
  }
}

.section-title {
  @include Flexible($j-cont: space-between);
  margin-bottom: 5px;
  b {
    padding: 7px 0;
    font-size: 20px;
    line-height: normal;
    font-family: "TT Commons Bold";
    display: inline-block;
    font-weight: normal;
  }
  @media (min-width: 992px) {
    margin-bottom: 10px;
    b {
      font-size: 25px;
      padding: 0;
    }
  }
}

.usefulForYou {
  .section-content {
    .col-content {
      position: relative;
      border-radius: 10px;
      border: 1px solid #ececec;
      height: 100%;
      overflow: hidden;
      .app-image {
        width: 100%;
        height: 200px;
        position: relative;
        bottom: 0px;
        right: 0px;
        background: $primary_color no-repeat 17% 14px / 80%;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        .app-phone {
          position: relative;
          width: 180px;
          height: 100%;
          top: 0px;
          left: -22px;
          margin: 0 auto;
          background: no-repeat bottom right/ contain;
          z-index: 2;
        }
        .app-self {
          width: 120px;
          height: 213px;
          position: absolute;
          left: 50%;
          top: 20px;
          background-size: cover;
          margin: 0 0 0 -60px;
        }
      }
      .app-desc {
        height: 100%;
        width: 100%;
        padding: 20px;
        position: relative;
        z-index: 2;
        b {
          font-family: "TT Commons Bold";
          display: block;
          font-size: 20px;
          line-height: 22px;
          margin-bottom: 5px;
        }
        p {
          color: $black_50;
          font-size: 16px;
          line-height: 20px;
        }
        ul {
          @include Flexible();
          border-radius: 5px;
          border: 1px solid #ececec;
          background-color: #fff;
          margin-top: 10px;
          li {
            position: relative;
            width: 100%;
            &:not(:first-child) {
              &::before {
                content: "";
                display: block;
                width: 1px;
                height: 60%;
                position: absolute;
                left: 0;
                top: 20%;
                background-color: $black_15;
              }
            }
            a {
              display: block;
              padding: 4px;
              white-space: nowrap;
              color: #000;
              .app {
                padding: 4px 0;
                width: fit-content;
                margin: 0 auto;
                @media (min-width: 375px) {
                  background: no-repeat left 12px/15px;
                  padding: 4px 0 4px 24px;
                  &.apple {
                    background-image: url("../../public/images/apple.svg");
                  }
                  &.android {
                    background-image: url("../../public/images/google_play.svg");
                    background-position-y: 15px;
                  }
                  &.huawei {
                    background-image: url("../../public/images/huawei_play.svg");
                    background-position-y: 15.5px;
                  }
                }
                span {
                  opacity: 0.5;
                  color: #505050;
                  font-size: 11px;
                }
                p {
                  font-size: 16px;
                  position: relative;
                  top: -3px;
                  color: #505050;
                  opacity: 0.5;
                  letter-spacing: -0.4px;
                  line-height: 9px;
                  font-family: "TT Commons Medium";
                }
              }
            }
          }
          @media (min-width: 992px) {
            height: 55px;
            position: absolute;
            bottom: 45px;
            left: 15px;
            li {
              a {
                padding: 2px 6px 0 6px;
                .app {
                  background-size: auto;
                  padding: 6px 0 6px 34px;
                  background-position-y: 8px;
                  &.android {
                    background-position-y: 11px;
                  }
                  &.huawei {
                    background-position-y: 13.5px;
                    background-size: 24px;
                  }
                  span {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          @media (min-width: 1024px) {
            left: 45px;
          }
        }
      }
    }
    .col-inner {
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #ececec;
      height: 100%;
      overflow: hidden;
      .col-title {
        @include Flexible($j-cont: space-between);
        b {
          font-size: 20px;
          font-family: "TT Commons Bold";
          font-weight: normal;
        }
        .change-rates {
          display: none;
          position: relative;
          padding: 5px 0 0 0;
          .active-rate {
            color: $black_50;
            background: url("../../public/images/active_lang.svg") no-repeat
              right center;
            padding: 5px 15px 0 0;
          }
          .select-box {
            position: absolute;
            top: 0px;
            right: 0px;
            transform-origin: right top;
            background: #fff;
            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
            z-index: 9;
            transition: all 0.2s cubic-bezier(1, 0, 0, 1);
            transform: scale(0);
            opacity: 0;
            visibility: hidden;
            border-radius: 5px;
            padding: 10px 0;
            &.open-select {
              transform: scale(1);
              opacity: 1;
              visibility: visible;
            }
            a {
              padding: 0 20px;
              display: block;
              white-space: nowrap;
              color: $black_50;
              &.active {
                color: black;
              }
            }
          }
        }
      }
      .calculator {
        .c-line {
          @include Flexible($j-cont: space-between);
          padding-top: 10px;
          border-bottom: 3px solid $primary_color;
          input,
          span {
            font-size: 25px;
            font-family: "TT Commons Bold";
            width: 100%;
            height: 40px;
          }
          .s-currency {
            font-family: "TT Commons Bold";
            background: no-repeat right 45%;
            padding: 0 12px 0 0;
            font-size: 16px;
            cursor: pointer;
          }
        }
        .c-result {
          @include Flexible($j-cont: space-between);
          margin-top: 25px;
          .c-item {
            width: 33.333%;
            p {
              color: $black_50;
              @media (min-width: 992px) {
                font-size: 18px;
              }
            }
            b {
              display: block;
              font-family: "TT Commons Bold";
              font-size: 18px;
            }
          }
        }
      }
      .info-p {
        padding: 10px 0 0;
        color: $black_90;
        font-size: 14px;
      }
      .all-exchanges {
        border-top: 1px solid #ececec;
        display: block;
        margin: 15px -30px -30px;
        margin: 25px -20px -20px;
        padding: 17px 30px;
        font-family: "TT Commons Bold";
        background: url("../../public/images/blue_arr.svg") no-repeat 91% 22px;
        transition: all 0.2s cubic-bezier(0.52, 0.01, 0.16, 1);
        color: $link_color;
        &:hover {
          color: #fff;
          background: $link_color url("../../public/images/white_arr.svg")
            no-repeat 91% 22px;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .section-content {
      .col {
        &:first-child {
          width: 66.666%;
        }
        &:last-child {
          width: 33.333%;
        }
        .col-content {
          background: url("../../public/images/app_block.svg") no-repeat right
            center/contain;
          .app-image {
            width: 50%;
            height: 115%;
            position: absolute;
            bottom: 0px;
            right: 30px;
            border-radius: 0;
            background: none;
            .app-phone {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0px;
              left: 0px;
              margin: 0;
            }
            .app-self {
              width: 250px;
              height: 375px;
              left: 95px;
              top: 73px;
              bottom: 0;
              margin: 0;
              background-color: #ffc629;
            }
          }
          .app-desc {
            padding: 45px;
            width: 50%;
            b {
              font-size: 34px;
              line-height: 34px;
              margin-bottom: 10px;
            }
            p {
              font-size: 18px;
              line-height: 26px;
            }
          }
        }
        .col-inner {
          padding: 30px;
          .col-title {
            b {
              font-size: 22px;
            }
            .change-rates {
              display: block;
            }
          }
          .all-exchanges {
            margin: 15px -30px -30px;
          }
        }
      }
    }
  }
}

.lastest-news {
  .col {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .col-content {
      @extend %news-item;
    }
  }
  @media (min-width: 992px) {
    .col {
      &:not(:last-child) {
        margin-bottom: 0px;
      }
      width: 33.333%;
    }
  }
}
