header .header-bottom .header-main .right-side .menu-toggle {
  display: none;
}

.news {
  padding-top: 135px;
  .common-title {
    margin-bottom: 20px;
    text-align: center;
    h1 {
      font-size: 20px;
      font-family: "TTFirsNeue Medium";
    }
  }
  .context {
    .news-list-total {
      li {
        margin-bottom: 20px;
        .news-item {
            @extend %news-item;
            a{
            position: relative;
            .dropdown{
                position: absolute;
                top: 10px;
                right: 0;
                button{
                    width: 30px;
                    height: 20px;
                    background: no-repeat center;
                    cursor: pointer;
                
                }
                .menu{
                    position: absolute;
                    left: -155%;
                    top: 25px;
                    z-index: 2;
                    border-radius: 5px;
                    overflow: hidden;
                    background-color: rgb(219, 219, 219);
                    opacity: 0;
                    visibility: hidden;
                    &.show{
                        opacity: 1;
                        visibility: visible;
                    }
                    li{
                        width: auto;
                        margin: 0;
                        font-family: "TT Commons Bold";
                        padding: 6px 6px 0 25px ;
                        background: no-repeat 10% center / 16px;
                        color: $black_50;
                        &:hover{
                            background-color: $socials_bg_color;
                        }
                    }
                }
            }
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    padding-top: 150px;
    .common-title {
      margin-bottom: 50px;
      h1 {
        font-size: 54px;
      }
    }
    .context {
      .news-list-total {
        @include Flexible($f-wrap: wrap);
        margin: 0 -15px;
        li {
          width: 33.333%;
          margin: 0;
          padding: 0 15px 30px;
          .news-item{
            a{
                .news-desc{
                    padding-bottom: 20px;
                }
            }
          }
        }
      }
      .more-details{
        font-size: 16px;
      }
    }
  }
}
